<!DOCTYPE HTML>
<html>
<head>
    <title>Nibble Flower Shop</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- noscript -->
    <noscript><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Javascript -->
    <script type=text/javascript src="{{url_for('static', filename='js/index.js') }}"></script>

    <!--Duam address-->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</head>

<body class="landing is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <section id="two" class="wrapper alt style2">
            <section class="spotlight">
                <div class="image"><img src="../static/css/images/pic01.jpg" alt="" /></div>
                <div class="content">
                    <h2>프로포즈를 위한 꽃 :)<br /> </h2>
                    <p>이 상품은 프로포즈를 위한 꽃! 입니다. <br />
                        게절마다 어울리는 꽃을 조합하여 가장 예쁘게 배치하였습니다.<br />
                        <input name="checkbox" type="checkbox" value="200000" onClick="itemSum(this.form);">200000원</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="../static/css/images/pic02.jpg" alt="" /></div>
                <div class="content">
                    <h2>졸업식을 위한 꽃 :)<br /></h2>
                    <p>이 상품은 졸업식을 위한 꽃! 입니다.<br />
                        졸업을 축하하며 꽃 한송이 어떨까요 ?<br />
                        <h4>가격: 30,000</h4>
                    </p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="../static/css/images/pic03.jpg" alt="" /></div>
                <div class="content">
                    <h2>한송이로 마음 전하기 :)<br /></h2>
                    <p>가끔은 꽃 한송이로 가볍게 마음을 전하는건 어떨까요 ?
                        <h4>가격: 10,000 </h4>
                    </p>
                </div>
            </section>
        </section>
        <!-- One -->
        <section id="one" class="wrapper style1 special">
            <div class="inner">
                <header class="major">
                    <h2 class="order">ORDER<br /></h2>
                    <p class="my-order">
                        <form class="order-form">
                            <label for="order_name">성함</label>
                            <input type="text" id="order_name" placeholder="입금자명과 동일하게">
                            <div id="name_check"></div>

                            <label for="order_phone">전화번호</label>
                            <input type="text" id="order_phone" maxlength="11" placeholder="ex)01012343456">
                            <div id="phone_check"></div>

                            <label for="sample3_address">주소</label>
                            <input type="text" id="sample3_postcode" placeholder="우편번호">
                            <input type="button" onclick="sample3_execDaumPostcode()" value="우편번호 찾기"><br>
                            <input type="text" id="sample3_address" placeholder="주소"><br>
                            <input type="text" id="sample3_detailAddress" placeholder="상세주소">
                            <input type="text" id="sample3_extraAddress" placeholder="참고항목">
                            <div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                                <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
                            </div>

                            <label for="order_count">수량</label>
                            <input type="text" id="order_count" placeholder="숫자만 입력해주세요">
                            <div id="count_check"></div>

                            <label for="order_item">주문할 꽃</label>
                            <select id="order_item" name="flower">
                                <option value="프로포즈를 위한 꽃">프로포즈를 위한 꽃</option>
                                <option value="졸업식">졸업식</option>
                                <option value="꽃 한송이">꽃 한송이</option>
                            </select>

                        </form>
                    </p>
                </header>
                <ul class="actions special">
                    <button onclick="myOrder()" type="button" class="button primary">주문하기</button>
                </ul>
            </div>
        </section>
        <!-- CTA -->
        <section id="one" class="wrapper style4">
            <div class="inner">
                <header class="major" id="order-list">
                    <h2 class="order">Order List</h2>
                </header>
                <div class="order">
                    <table id="table-header">
                        <thead>
                            <th>상품명</th>
                            <th>주문자명</th>
                            <th>핸드폰 번호</th>
                            <th>갯수</th>
                            <th>주소</th>
                        </thead>
                        <tbody id="order-box">
                            <tr>
                                <td>졸업식</td>
                                <td>이다나</td>
                                <td>01056820731</td>
                                <td>1</td>
                                <td>영등포</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</body>

</html>